gnureadline
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
MarkupSafe
matplotlib
mistune
mock
nbconvert
nbformat
nltk
nose
notebook
numpy
path.py
pbr
pexpect
pickleshare
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
simplegeneric
six
terminado
Theano
tornado
traitlets
wheel
